.main-stake {
    
    .img {
        width: 80px;
    }

    .main-tile {
        margin-bottom: 10px;
        margin-top: 40px;
background: #2F2272;
border-radius: 20px;
padding: 30px 20px;
border: 1px solid transparent;
&:hover {
    box-shadow: 5px 5px 30px rgba(240, 122, 61, 0.2);
    border: 1px solid #f8b625;
}

    }

    .dropdown {
        .btn {
            background: transparent;
            color: #fff;
            border-bottom: 2px solid orange;
            border-radius: 0;
            margin-bottom: 10px;
        }
    }
}


@media (max-width: 600px) {
    .main-features{
        .inner-tile{
            height: auto;
        }
    }
}